@tailwind base;
@tailwind components;
@tailwind utilities;

div[data-milkdown-root] {
    flex: 1;
}

.milkdown {
    width: 100%;
    background: #151619;
    height: 100%;
    padding: 16px;
    overflow-wrap: break-word;
}
